<!DOCTYPE html>
<html>
<head>
    <title>ServiClinicos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css"/>
</head>
<body>
    <header class="d-flex justify-content-between px-5">
        <div class="d-flex align-self-center">
            <img src="hospi.png" id="header-img"/>
        </div>
        <div class="">
            <form action="" class="rounded border p-3 m-2" id="form-login">
                <div>
                    <div>User</div>
                    <input type="text">
                </div>
                <div>
                    <div>Password</div>
                    <input type="password">
                </div>
                <input type="submit" value="Ingresar" class="mt-2" id="form-submit">
            </form>
        </div>
        <div class="d-flex flex-column justify-content-center text-center" id="header-inscription">
            <h5>No estas registrado?</h5>
            <span id="btn-inscribirse">Inscribirme!</span>
        </div>
    </header>
    <main>
        <div class="d-flex">
            <aside class="">
                <nav class="navbar mt-4 px-4" id="navbar-ul">
                    <ul class="" id="nav-ul">
                        <li>Inicio</li>
                        <li>Hospital</li>
                        <li>Medicos</li>
                        <li>Citas</li>
                        <li>Medicamentos</li>
                    </ul>
                </nav>
            </aside>
            <article id="article-toggle" class="w-100 p-4 d-flex justify-content-center align-items-center">
                <h1 class="text-center">Bienvenido a nuestros servicios clinicos!</h1>
            </article>
        </div>
    </main>
    <footer class="p-4">
        <div class="text-center">
            <h5>Estamos ubicados en Manizales-Caldas</h5>
            <h6>Universidad de Caldas TEL: 9999999</h6>
            <h6>ServiClinicos - 2022</h6>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/01d57623ea.js" crossorigin="anonymous"></script>
    <script src="./index.js"></script>
</body>
</html>
